body {
    background-color: #F5BE00;
}

#logo {
    margin: auto;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

.flex-container {
    display: flex;
    justify-content: center;
}