<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>createProject</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/createProject.css">
</head>
<body>
    <div class="icon-container">
        <a href="#" onclick="history.back()"><i id="project-close" class='bx bx-x'></i></a>
    </div>
    <form action="/project" method="post">
        <input name="title" class="title" placeholder="프로젝트 제목을 입력해주세요"/>
        <br/>
        <div class="deadline">마감일 선택</div>
        <input name="datepicker" id="datepicker" type="date">
        <div class="progress">진행 상황</div>
        <progress id="progress-bar" value=0 max=100></progress>
        <input name="value" id="value" type="text" readonly>
        <div class="icon-flex-container">
            <div id="plus">
                <i class='bx bx-plus'></i>
            </div>
            <div id="minus">
                <i class='bx bx-minus' ></i>
            </div>
        </div>
        <h1 class="info">팀원 추가</h1>
        <div class="person-container">
            <div class="person-card">
                <i class="bx bx-x"></i> 
                <input type="text" name="info" value="이름" readonly>
            </div>
            <div id="person-open">
                <div class="circle">
                    <i class='bx bx-plus'></i>
                </div>
            </div>
        </div>
        <div class="btn-container">
            <button class="gen-button">생성하기</button>
        </div>
    </form>
    
    <div id="person-page">
        <div class="icon-container">
            <i id="person-close" class='bx bx-x'></i></a>
        </div>
        <h2>팀원 추가</h2>
        <input type="search" class="search" placeholder="ID를 입력해주세요">
        <br/>
        <div id="id"></div>
        <div class="button-container">
            <button id="complete-button" type="button">완료하기</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <script src="/js/datepicker.js"></script>
    <script src="/js/project.js"></script>
</body>
</html>