<!-- 프로젝트 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <link rel="stylesheet" href="./css/project.css">
</head>
<body>
    <header>
        <a href="/index.html"><img src="/img/logo.png" alt="logo"  width="250px" height="85px"></a>
    </header>
    <main>
        <div id="project-page">
            <div class="top">
                <div class="title">
                    <h1>프로젝트 제목</h1>
                </div>
                <div class="deadline">
                    마감일     
                </div>
                <div class="personal">
                    인원     
                </div>
            </div>
            <div class="middle">
                <div class="introduce">
                    <h1>프로젝트 소개</h1>
                </div>
                <div class="intro">
                    프로젝트를 소개하는 곳입니다.
                </div>
            </div>
            <div class="bottom">
                <div class="roletitle">
                    <h1>역할</h1>
                </div>
                <div class="role-container">
                    <div id="role-open" class="role-card">
                        <div class="role-title"><b>발표자</b></div>
                        <div class="role-manager">김미림</div>
                        <div class="role-deadline">2022.11.17</div>
                        <div class="role-progress">진행 상황</div>
                        <progress class="role-progress-bar"value="20" max="100"></progress>
                    </div>
                    <div id="add-role-open">
                        <div class="circle">
                            <i class='bx bx-plus'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="role-page">
            <div class="icon-container">
                <i id="edit-role-open" class='bx bx-dots-horizontal-rounded'></i>
                <i id="role-close" class='bx bx-x'></i>
            </div>
            <h1 class="title">발표자</h1>
            <div class="manager">김미림</div>
            <div class="dead-line">2022.11.17</div>
            <div class="progress"><b>진행 상황</b></div>
            <progress value="20" max="100"></progress>
            <h1 class="info">역할 소개</h1>
            <div class="info-content">프로젝트 대본 작성 및 발표</div>
            <h1 class="feedback">피드백</h1>
            <div class="feedback-content"></div>
        </div>
        <div id="edit-role-page">
            <div class="icon-container">
                <i id="edit-role-close" class='bx bx-x'></i>
            </div>
            <div class="flex-container">
                <div class="content-container">
                    <input class="title" value="발표자"/>
                    <br/>
                    <input class="manager" value="김미림"/>
                    <div class="dead-line">2022.11.17</div>
                    <div class="progress"><b>진행 상황</b></div>
                    <progress value="20" max="100"></progress>
                    <h1 class="info">역할 소개</h1>
                    <div class="text">
                        <textarea class="info-content" maxlength="32">프로젝트 대본 작성 및 발표</textarea>
                    </div>
                </div>
                <div class="button-container">
                    <button id="edit-role-button" type="button">수정하기</button>
                </div>
            </div>
        </div>
        <div id="add-role-page">
            <div class="icon-container">
                <i id="add-role-close" class='bx bx-x'></i>
            </div>
            <div class="flex-container">
                <div class="content-container">
                    <form action="/role/create_progress" method="post">
                        <input name="title" class="title" placeholder="역할명을 입력해주세요."/>
                        <br/>
                        <input name="manager" class="manager" placeholder="담당자명을 입력해주세요."/>
                        <div class="deadline">마감일 선택</div>
                        <input name="datepicker" id="datepicker" type="date">
                        <div class="progress">진행 상황</div>
                        <progress id="progress-bar" value=0 max=100></progress>
                        <div class="icon-flex-container">
                            <div id="plus">
                                <i class='bx bx-plus'></i>
                            </div>
                            <div id="minus">
                                <i class='bx bx-minus' ></i>
                            </div>
                        </div>
                        <h1 class="info">역할 소개</h1>
                        <div class="text">
                            <textarea name="info" class="info-content" maxlength="32" placeholder="역할에 대한 설명을 입력해주세요."></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="button-container">
                <button id="add-role-button" type="button">완료하기</button>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <script src="./js/datepicker.js"></script>
    <script src="./js/project.js"></script>
</body>
</html>