body{
    background-color: #F5BE00;
}
header{
    text-align: center;
}
main .page{
    width: 1180px;
    height: 839px;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    margin: auto;
}
.x{
    width: 58px;
    height: 58px;
    display: block;
    margin-left: auto;
}

.popup{
    width: 1044px;
    height: 767px;
    border-radius: 10px;
    background-color: #F5BE00;
    margin: auto;
}

.popup .progress {
    font-size: 1.2rem;
    margin-top: 20px;
}

.popup progress {
    appearance: none;
}

.popup progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 50px;
    width: 800px;
    height: 40px;
}

.popup progress::-webkit-progress-value {
    background-color: #F58400;
    border-radius: 50px 0px 0px 50px;
}
.popup #add-role-btn {
    width:220px; 
    height:300px;
    background-color: #eeeeee;
    border-radius: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;
}
.popup #add-role-btn:hover {
    box-shadow: 5px 5px 5px rgb(119, 119, 119);
}

.popup .circle {
    background-color: white;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup i {
    font-size: 5rem;
    color: #F5BE00;
}