body {
    background-color: #F5BE00;
    margin-left: 80px;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
}

i {
    font-size: 4rem;
    color: white;
}

input {
    border: none;
    background-color: #F5BE00;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: black;
}

textarea {
    border: none;
    background-color: #F5BE00;
    width: 800px;
    height: 50px;
    resize: none;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    color: black;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.deadline {
    margin-top: 20px;
    font-size: 1.3rem;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}

#datepicker {
    font-size: 1.2rem;
}

.progress {
    font-size: 1.2rem;
    margin-top: 20px;
}

progress {
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 50px;
    width: 800px;
    height: 40px;
}

progress::-webkit-progress-value {
    background-color: #F58400;
    border-radius: 50px 0px 0px 50px;
}

.icon-flex-container {
    margin-top: 30px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.icon-flex-container .bx {
    font-size: 2rem;
    cursor: pointer;
}

.info {
    font-size: 2rem;
    padding-top: 40px;
}

.person-container{
    display: flex;
    padding-top: 40px;
    column-gap: 20px;
}

.person-card {
    width:220px; 
    height:80px;
    background-color: white;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-card:hover {
    box-shadow: 5px 5px 5px rgb(119, 119, 119);
}

.person-card .bx-x {
    position: absolute;
    color: black;
    font-size: 2rem;
    margin-left: 190px;
    margin-top: -50px;
}

.name {
    font-size: 1.4rem;
}

.person-title {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 10px;
}

#person-open {
    width:220px; 
    height:80px;
    background-color: white;
    border-radius: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;
}

#person-open:hover {
    box-shadow: 5px 5px 5px rgb(119, 119, 119);
}

.circle {
    background-color: #F5BE00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#person-open i {
    font-size: 3rem;
    color: white;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.gen-button {
    width: 300px;
    height: 80px;
    border: 0;
    border-radius: 10px;
    font-size: 1.4rem;
    background-color: white;
    font-weight: bold;
    transition-duration: 0.3s;
}

.gen-button:hover {
    box-shadow: 5px 5px 5px rgb(119, 119, 119);
}

/*** person-page ***/
#person-page {
    position: relative;
    background-color: white;
    margin-left: 80px;
    display: none;
    width: 800px;
    height: 300px;
    top: -600px;
    border-radius: 10px;
}

#person-page .icon-container {
    display: flex;
    justify-content: flex-end;
}

#person-page i {
    font-size: 4rem;
    color: #F5BE00;
    cursor: pointer;
}

#person-page h2 {
    margin-left: 20px;
}

#person-page .search {
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 600px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

#person-page .search:focus {
    outline: none;
}

#person-page .search::placeholder {
    color: black;
}

#person-page #id{
    margin-top: 10px;
    font-size: 1.5rem;
}

#person-page .name{
    margin-top: 10px;
    font-size: 1.5rem;
}

#person-page .button-container {
    margin-top: 40px;
    align-self: center;
    display: flex;
    justify-content: center;
}

#person-page #complete-button {
    width: 200px;
    height: 60px;
    background-color: #F5BE00;
    color: black;
    text-align: center;
    border-radius: 10px;
    font-size: 1.4rem;
    border: 0px;
    cursor: pointer;
}

@media all and (min-width:768px) and (max-width:1023px) {
    i {
        font-size: 3rem;
        color: white;
    }

    .title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .deadline {
        margin-top: 20px;
        font-size: 1.1rem;
    }

    #datepicker {
        font-size: 1.1rem;
    }

    .progress {
        font-size: 1.1rem;
        margin-top: 20px;
    }

    progress::-webkit-progress-bar {
        background-color: white;
        border-radius: 50px;
        width: 600px;
        height: 40px;
    }

    .icon-flex-container {
        margin-top: 30px;
        width: 600px;
        display: flex;
        justify-content: space-between;
    }
}