body{
    background-color: #F5BE00;
}

header{
    text-align: center;
}

#project-page{
    position: relative;
    width: 1180px;
    height: 700px;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin: auto;
}

#project-page h1{
    padding-left: 40px;
    padding-top: 20px;
}

#project-page .deadline{
    padding-left: 40px;
}

#project-page .personal{
    padding-left: 40px;
}

#project-page .intro{
    padding-left: 40px;
}

#project-page .role-container{
    display: flex;
    padding-left: 40px;
    column-gap: 20px;
}

#project-page .role-card {
    width:220px; 
    height:300px;
    background-color: #F5BE00;
    border-radius: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

#project-page .role-card:hover {
box-shadow: 5px 5px 5px rgb(119, 119, 119);
}


#project-page .role-title {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 10px;
}

#project-page .role-manager {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left: 10px;
}

#project-page .role-deadline {
    margin-left: 10px;
    margin-top: 10px;
}

#project-page .role-progress {
    margin-top: 10px;
    margin-left: 10px;
}

#project-page .role-progress-bar {
    appearance: none;
    margin-left: 10px;
}

#project-page .role-progress-bar::-webkit-progress-bar {
    background-color: white;
    border-radius: 50px;
    width: 200px;
    height: 18px;
}

#project-page .role-progress-bar::-webkit-progress-value {
    background-color: #F58400;
    border-radius: 50px 0px 0px 50px;
}

#project-page #add-role-open {
    width:220px; 
    height:300px;
    background-color: #F5BE00;
    border-radius: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;
}

#project-page #add-role-open:hover {
    box-shadow: 5px 5px 5px rgb(119, 119, 119);
}

#project-page .circle {
    background-color: white;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-page i {
    font-size: 5rem;
    color: #F5BE00;
}

/*** ROLE ***/
#role-page {
    position: relative;
    z-index: 100;
    width: 1000px;
    height: 650px;
    margin: auto;
    top: -680px;
    background-color: #F5BE00;
    padding-left: 40px;
    display: none;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
}

#role-page i {
    font-size: 4rem;
    color: white;
    cursor: pointer;
}

#role-page .title {
    margin: 0;
}

#role-page .manager {
    font-size: 1.5rem;
}

#role-page .dead-line {
    font-size: 1rem;
}

#role-page .progress {
    font-size: 1.2rem;
    margin-top: 20px;
}

#role-page progress {
    appearance: none;
}

#role-page progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 50px;
    width: 800px;
    height: 40px;
}

#role-page progress::-webkit-progress-value {
    background-color: #F58400;
    border-radius: 50px 0px 0px 50px;
}

#role-page .info {
    margin: 0;
    margin-top: 40px;
}

#role-page .info-content {
    font-size: 1.5rem;
    height: 50px;
}

#role-page .feedback {
    margin: 0;
}

#role-page .feedback-content {
    margin-top: 10px;
    background-color: white;
    width: 800px;
    height: 200px;
    border-radius: 30px;
}

/*** EDIT-ROLE ***/
#edit-role-page {
    position: relative;
    z-index: 100;
    width: 1000px;
    height: 650px;
    margin: auto;
    top: -680px;
    background-color: #F5BE00;
    padding-left: 40px;
    display: none;
}

#edit-role-page .icon-container {
    display: flex;
    justify-content: flex-end;
}

#edit-role-page i {
    font-size: 4rem;
    color: white;
}

#edit-role-page .flex-container {
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: space-between;

}

#edit-role-page input {
    border: none;
    background-color: #F5BE00;
}

#edit-role-page input:focus {
    outline: none;
}

#edit-role-page .title {
    font-size: 2rem;
    font-weight: bold;
}

#edit-role-page .manager {
    font-size: 1.5rem;
    margin-top: 5px;
}

#edit-role-page .dead-line {
    font-size: 1rem;
}

#edit-role-page .progress {
    font-size: 1.2rem;
    margin-top: 20px;
}

#edit-role-page progress {
    appearance: none;
}

#edit-role-page progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 50px;
    width: 800px;
    height: 40px;
}

#edit-role-page progress::-webkit-progress-value {
    background-color: #F58400;
    border-radius: 50px 0px 0px 50px;
}

#edit-role-page .info {
    font-size: 2rem;
    margin: 40px 0px 10px 0px;
}

#edit-role-page .info-content {
    font-size: 1.5rem;
    border: none;
    background-color: #F5BE00;
    width: 800px;
    height: 30px;
    resize: none;
    margin-top: -10px;
}

#edit-role-page .info-content:focus {
    outline: none;
}

#edit-role-page .button-container {
    align-self: center;
}

#edit-role-page #edit-role-button {
    width: 400px;
    height: 100px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;
    font-size: 1.8rem;
    border: 0px;
    cursor: pointer;
}

/*** ADD-ROLE ***/
#add-role-page {
    position: relative;
    z-index: 100;
    width: 1000px;
    height: 650px;
    margin: auto;
    top: -680px;
    background-color: #F5BE00;
    padding-left: 40px;
    display: none;
}

#add-role-page .icon-container {
    display: flex;
    justify-content: flex-end;
}

#add-role-page i {
    font-size: 4rem;
    color: white;
}

#add-role-page .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#add-role-page input {
    border: none;
    background-color: #F5BE00;
}

#add-role-page input:focus {
    outline: none;
}

#add-role-page input::placeholder {
    color: black;
}

#add-role-page textarea {
    border: none;
    background-color: #F5BE00;
    width: 800px;
    height: 50px;
    resize: none;
}

#add-role-page textarea:focus {
    outline: none;
}

#add-role-page textarea::placeholder {
    color: black;
}

#add-role-page .title {
    font-size: 2rem;
    font-weight: bold;
}

#add-role-page .manager {
    margin-top: 10px;
    font-size: 1.5rem;
}

#add-role-page .deadline {
    margin-top: 20px;
    font-size: 1.3rem;
}

#add-role-page input[type="date"]::-webkit-calendar-picker-indicator,
#add-role-page input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}

#add-role-page #datepicker {
    font-size: 1.2rem;
}

#add-role-page .progress {
    font-size: 1.2rem;
    margin-top: 20px;
}

#add-role-page progress {
    appearance: none;
}

#add-role-page progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 50px;
    width: 800px;
    height: 40px;
}

#add-role-page progress::-webkit-progress-value {
    background-color: #F58400;
    border-radius: 50px 0px 0px 50px;
}

#add-role-page .info {
    font-size: 2rem;
    padding-top: 40px;
}

#add-role-page .info-content {
    font-size: 1.5rem;
}

#add-role-page .feedback {
    font-size: 2rem;
    margin-top: 40px;
}

#add-role-page .feedback-content {
    margin-top: 10px;
    background-color: white;
    width: 800px;
    height: 200px;
    border-radius: 30px;
}

#add-role-page .button-container {
    margin-top: 40px;
    align-self: center;
    display: flex;
    justify-content: center;
}

#add-role-page #add-role-button {
    width: 400px;
    height: 100px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;
    font-size: 1.8rem;
    border: 0px;
    cursor: pointer;
}